{% extends 'base/main.html' %}
{% block content%}
     
<div class="header">
    <div>
        <h1>Welcome {{request.user}}</h1>
        <h3><b>{{count}}</b> more task{{ count|pluralize:"s" }} to go</h3>
    </div>
</div>
{% if request.user.is_authenticated%}
    <a href="{% url 'logout' %}" class="logout" > Log out</a>
{% else %}
    <a href="{% url 'login' %}">Login</a>
{% endif %}

<hr>

<h1>TODO LIST</h1>

<a href="{% url 'task-create' %}"> Add a task</a>


<form method="GET">
    
    <input type="text" name="search-area" value="{{search.input}}">
    <input type="submit" value="Search">

</form>
<table>
    <tr>
        <th>Item</th>
    </tr>
    {% for task in tasks %}
    <tr>
        <td>{{task.title}}</td>
        <td><a href="{% url 'task-update' task.id %}">Edit</a></td>
        <td><a href="{% url 'task-delete' task.id %}">Delete</a></td>
    </tr>
    {% empty %}
    <h3>Empty List</h3>
    {% endfor %}
</table>

{% endblock content%}